<br>
<div class="murdered_family_image">
    <%= image_tag("happy_family.png") %>
    
    <p style="color: black; font-size: 20px" class ="murdered_family_link"><b><%=link_to "Somebody Just Murdered Your Entire Family; Give Them the Firm Talking To of a Life Time.", game_show_path %></b></p>

</div>
