<!-- eventually have the title of the game up here -->

<br>
<div class="prompt_image">
    <%= image_tag(" ") %>
</div>
    
<div class="current_prompt" style="color: black;">
  
</div>

<div class="options">
</div>
<br>