<!-- eventually have the title of the game up here -->

<br>
<div class="prompt_image">
    <%= image_tag(" ") %>
</div>
    
<div class="current_prompt">
  
</div>

<a href= "">
 <div id="promptName_ChoiceNumber">
    <div id= "option_select" class="option_select_1">
    </div>
 </div>
</a><br>

<a href="">
   <div id="promptName_ChoiceNumber">
        <div id="option_select" class="option_select_2">
        </div>
   </div>
</a><br>

<a href="">
    <div id="promptName_choiceNumber">
        <div id="option_select" class="option_select_3">
        </div>
    </div>
</a>