  <div class = "enter">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <img id="neon_cover" src="/assets/neon.png"></img>
            <p class="lead">Because life lasts a lifetime but kowabunga is forever.</p>
            <p class="lead">
              <a href="/welcome/index" class="btn btn-lg btn-default">Enter Forever</a>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Eventually Something Cool Will Be Written Here</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
