  <div class = "enter">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner_cover">

            <div id="neon_cover">
              <img src="/assets/neon.png"></img>
            </div>

            <div class="lead" style="font-weight: bold;"><p>Because life lasts a lifetime but kowabunga is forever.</p>
            </div>

            <p>
              <a href="/welcome/index" style="font-weight: bold;" class="btn btn-lg btn-default">Enter Forever</a>
            </p>



          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Eventually Something Cool Will Be Written Here</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
