  <div class = "enter">
    

     <div id="neon_cover">
        <img src="/assets/neon.png"></img>
      </div>

      <div class="lead" style="font-weight: bold;"><p>Because life lasts a lifetime but kowabunga is forever.</p>

          <p>
             <a href="/welcome/index" style="font-weight: bold;" class="btn btn-lg btn-default">Enter Forever</a>
          </p>

      </div>


      <div class="mastfoot">
          <p>Eventually Something Cool Will Be Written Here</p>
      </div>


  </div>
    
