// Place all the styles related to the enter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#neon_cover{
    position: absolute;
    left: 7%;
    top: 3%;

    transform: translate(-3%, -3%);
}

#neon_cover img{
    width: 1018.180px;
    height: 250px
}

