// Place all the styles related to the podcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.podcast_blurb{
    position: absolute;
    word-break: keep-all;
    white-space: wrap;
    hyphens: auto;
    color: gray;
    font-family: "Gandhi Sans";
    font-weight: normal;
    font-size: 16px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 425px;
    margin-top: 50px;
}


.current_podcast{
  float: left;
  margin-left: 50px;

}


#podcast_title{
  font-family: "Georgia";
  font-size: 60%;
  margin-top: 50px;
}

#podcast_content{
  position: absolute;
  font-family: "Gandhi Sans";
  font-weight: normal;
  text-align: left;
  font-size: 15px;
  margin-right: 425px;
  width: 500px;
}
#podcast_list {
    float: right;
    margin-right: 90px;
    height: 700px;
    width: 300px;
    border-left: thin solid black;
    overflow: auto;
    font-size: 18px;
}


.podcast_blurb#podcast_title{
  font-family: "Georgia";
  font-size: 60%;
  margin-top: 50px;
}

.podcast_blurb#podcast_content{
  position: absolute;
  font-family: "Gandhi Sans";
  font-weight: normal;
  text-align: left;
  font-size: 15px;
  margin-right: 425px;
}

ul{
  list-style-type: none;
}

a, a:visited{
  color: black;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


#podcast_list a:hover{
  color: salmon;
}



