
<div class="podcast_blurb" style="color: black;">
  <p>Here are some podcasts. Click on a title you fancy and enjoy the ride.<p>
    <p> And underneath this is what looks like godzilla sipping out of a big straw.</p>
</div>

<img id="godzilla_pic" src="http://www.thewrap.com/wp-content/uploads/2014/02/godzilla.jpg"></img>

<section class = "current_podcast">

  <div id="podcast_title">
    <p></p>
  </div>

  <div id="podcast_content">
    <p></p>
  </div>

  </section>

<!--   <div id ="writing_list">
    <ul>
      # <%@podcasts.each do |podcast| %>
      <li><%=link_to podcast.title, podcast_path(podcast), id: "podcast_link" %></li><br><br>
      # <%end%>
    </ul>
  </div> -->


  <div id ="writing_list">
    <h4 style="color: black; font-family: Helvetica; font-weight: bold;">Critic's Choice Listening List</h4>
    <br>
    <ul>
      <%@podcasts.each do |podcast| %>
      <div id="list_item"><li><%=image_tag podcast.image, id: "list_image"%>
        <div id="list_title"><%=link_to podcast.title, podcast_path(podcast), id: "podcast_link" %></div></li></div><br><br>
      <%end%>
    </ul>
  </div>